<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/scripts.json"></script>
    <title>Document</title>
</head>
<body>
    <div id="body">
        <div id="nav">
            <img src="/static/logo.png" alt="" id="site-logo" loading="eager">
            <a class="button" href="/">Dashboard</a>
            <a class="button" href="/products">Products</a>
            <a class="button" href="/purchases">Purchases</a>
            <a class="button" href="/listings">Listings</a>
            <a class="button" href="/">Settings</a>
        </div>
        <div id="content-border">
            <div id="content">
                {% block content %}

                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>