{% extends "base.html" %}
{% block content %}
<div id="info-container">
<h2 style="text-align: center;">Statistics</h2>
    <div id="info">
        <div class="counter" id="items-count">Total Items:<br><br>{{ products_data|length  }}</div>
        <div class="counter" id="purchases-count">Total Purchases:<br><br>{{ purchases_data|length  }}</div>
        <div class="counter" id="listing-count">New Listings:<br><br>{{ listings_data|length  }}</div>
    </div>
</div>
<H2 style="text-align: center;margin-top:0;">Search</H2>
<div id="shortcuts">
    <div id="purchases-shortcuts">
        <h2 style="text-align: center;">Purchases</h2>
        <form action="/searchp" method="GET">
            <label for="">Search Purchase:</label>
            <input type="number" placeholder="Purchase Number" id="" name="pid">
            <input type="submit" value="Search!" id="small-button">
        </form>
    </div>
</div>
{% endblock %}