<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Document</title>
    <style>
        form{
            display: flex;
            flex-direction: column;
            text-align: center;
            margin: 20vw;
            margin-top: 0;
            margin-bottom: 0;
        }
        input{
            background-color: whitesmoke;
            text-align: center;
        }
    </style>
</head>
<body>
    <form action="/delete-quantity" method="POST" target="_parent">
        
    </form>
</body>
</html>