<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Document</title>
    <style>
        form{
            display: flex;
            flex-direction: column;
            text-align: center;
            margin: 20vw;
            margin-top: 0;
            margin-bottom: 0;
        }
        input{
            background-color: whitesmoke;
            text-align: center;
        }
    </style>
</head>
<body>
    <form action="/delete-quantity" method="POST" target="_parent">
        <input type="text" name="id" id="" value="{{ product.id }}" hidden>
        <h1>Delete Products??</h1>
        <div>
        {% for number in product.id %}
        {{ product.id }}
        {% endfor %}
        </div>
        <button class="small-button">Yes</button>
        
    </form>
</body>
</html>