{% extends "base.html" %}
{% block content %}
<h2 style="text-align: center;">Porducts</h2>
<div id="table_container">
<table class="table">
    <tr>
        <th style="border-top-left-radius: 15px;">
            <input type="checkbox" name="" id="" checked disabled>
        </th>
        <th>
            Id
        </th>
        <th>
            Name
        </th>
        <th>
            Quantity
        </th>
        
        <th>
            Category
        </th>
        <th>
            Availability
        </th>
        <th style="border-top-right-radius: 15px; border:none;">
            Price
        </th>
    </tr>
    {% for product in data %}
    <tr>
        <td>
            <input type="checkbox" name="{{ product.name }}" id="">
        </td>
        <td>
            {{ product.id }}
        </td>
        <td>
            {{ product.name }}
        </td>
        <td>
            {{ product.quantity }}
        </td>
        <td>
            {{ product.category }}
        </td>
        <td>
            {% if product.quantity|int > 0 %}
            <img src="/static/available.png" alt="" width="20px">
            {% else %}
            <img src="/static/unavailable.png" alt="" width="20px">
            {% endif %}
        </td>
        <td style="border-right: none;">
            {{ product.price }}
        </td>
    </tr>
    {% endfor %}
</table>
</div>
<div id="products-buttons">
    <a href="" class="button">Add Product</a>
    <a href="" class="button">Add Quantity</a>
    <a href="" class="button">Delete Product</a>
</div>

<script>
    for (let i = 1; i < document.getElementsByTagName("tr").length; i++) {
        let current = document.getElementsByTagName("tr")[i]
        current.addEventListener("click",function(){
            if (current.querySelector("[type=checkbox]").checked==false){
                current.querySelector("[type=checkbox]").checked=true
            }else{
                current.querySelector("[type=checkbox]").checked=false;
            }})}
</script>
{% endblock %}


