{% extends "base.html" %}
{% block content %}
<h2 style="text-align: center;">Porducts</h2>
<div id="table_container">
<table class="table">
    <tr>
        <th style="border-top-left-radius: 15px;">
            <input type="checkbox" name="" id="" checked disabled>
        </th>
        <th>
            Id
        </th>
        <th>
            Name
        </th>
        <th>
            Quantity
        </th>
        
        <th>
            Category
        </th>
        <th>
            Availability
        </th>
        <th style="border-top-right-radius: 15px; border:none;">
            Price
        </th>
    </tr>
    {% for product in data %}
    <tr>
        <td>
            <input type="checkbox" id="{{ product.id }}">
        </td>
        <td>
            {{ product.id }}
        </td>
        <td>
            {{ product.name }}
        </td>
        <td>
            {{ product.quantity }}
        </td>
        <td>
            {{ product.category }}
        </td>
        <td>
            {% if product.quantity|int > 0 %}
            <img src="/static/available.png" alt="" width="20px">
            {% else %}
            <img src="/static/unavailable.png" alt="" width="20px">
            {% endif %}
        </td>
        <td style="border-right: none;">
            {{ product.price }}
        </td>
    </tr>
    {% endfor %}
</table>
</div>
<div id="products-buttons">
    <button href="" id="" class="button" onclick='set_popup("add_product")'>Add Product</button>
    <button href="" class="button" onclick='update_quantity_button()'>Update Quantity</button>
    <button href="" class="button" onclick='set_popup("delete_product")'>Delete Product</button>
</div>
<div id="iframe" hidden>
    <img src="/static/exit.png" alt="" width="30px" id="exit_button" onclick="exitpopup()">
<iframe id="popupframe" src="" frameborder="0"  height="370" width="400"></iframe>
</div>
<script>
    for (let i = 1; i < document.getElementsByTagName("tr").length; i++) {
        let current = document.getElementsByTagName("tr")[i]
        current.addEventListener("click",function(){
            if (current.querySelector("[type=checkbox]").checked==false){
                current.querySelector("[type=checkbox]").checked=true
            }else{
                current.querySelector("[type=checkbox]").checked=false;
            }})}
    
    function get_checked(){
        var list = []
        for (let i = 1; i < document.getElementsByTagName("tr").length; i++) {
            if (document.getElementsByTagName("tr")[i].querySelector('input[type=checkbox]:checked')){
                list.push(document.getElementsByTagName("tr")[i].querySelector('input[type=checkbox]:checked').id)
            }}   
        return list
        
    }

    function update_quantity_button(){
        let id = get_checked()
        if (id.length==1){
            document.getElementById("popupframe").src="/update-quantity?id="+id[0]
            document.getElementById("iframe").hidden=false
        }else{
            alert("Check Only One Product")
        }
    }

    function set_popup(popup_name){
        const popups = {"add_product":"/add-product","delete_product":"/delete_product"}
        document.getElementById("popupframe").src=popups[popup_name]
        document.getElementById("iframe").hidden=false
    }
    function exitpopup(){
        document.getElementById("iframe").hidden=true;
    }
</script>
{% endblock %}


